body {
    width: 100%;
    margin: 0 auto;
}
.myhead {  
    width: 990px;   
    height: 100%;   
    margin: 0 auto;      
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    font-size: 14px;
    padding-right: 60px;
    margin:  auto 0;
}
.nav {
    margin:  auto 0;
}
nav ul {
    padding: 0;
    display: flex;
    margin-top: 20px; 
}  
nav ul li {
    list-style: none;
    padding: 18px 10px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav li a:hover {    
    color: #c7b299;
    text-decoration: none;
}
.headerIkon {
    margin: 40px 0px;
}
.backgroundImage {
    background-image: url(./background.png);
    background-repeat: no-repeat;
    height: 1024px;
}
.carousel {
    height: 500px;
    padding-top: 200px;
}
.title {
    text-align: center;
}
.title1 {
    font-size: 36px;
}
.title2 {
    font-size: 36px;
    font-weight: bold;
}
.title3 {
    font-size: 16px;
}

.btn {
    margin: 0 auto;
    margin-top: 20px;
    background-color: #998675;
    border: none;
}

.carousel-indicators li {    
    width: 10px;
    height: 10px;
    border-radius: 5px;
}
.blockWhiteOne {
    height: auto;
      
}
.services {
    margin-top: 80px;
    display: flex;
    /* justify-content: center;  */
    text-align: center;     
}
/* .blockFlex {
    margin-left: 20px;
    
} */
.servicesIcon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
      
}
.blockFlex:hover .servicesIcon{
    background: #c7b299;
}

.servicesTitle {
    font-size: 22px;
    color: #555555;
    margin-top: 30px;
    font-weight: bold;   
}
.blockFlex:hover .servicesTitle {
    color: #c7b299;
}

.servicesText {
    font-size: 14px;
    color: #8c8c8c;
    margin-top: 25px;   
}
.servicesIine {
    border: 1px solid #f1eee9;
    width: 70px;
    margin: 25px auto;   
}
.blockFlex:hover .servicesIine {
   border: 1px solid #c7b299;;
}
.mainTitle {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}
.mainTitle__title {
    font-size: 30px;
    color: #555555;
    font-weight: bold; 

}
.mainTitle__text {
    font-size: 16px;
    color: #8c8c8c;
}
.backgroundImgTwo {
    background-image: url(./img/twoImg.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 85%;
    
}
.backgroundImgTwo1 {
    margin: 0 auto;
    width: 85%;
}
.sliderBlock {
    width: 50%;
    margin: 0 auto;

}
.two {
    height: auto;
    padding-top: 40px;
}
.blockBrown {
    height: 148px;
    background-color: #231c1a;
    
}
.mainContainer {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.advertisingTitle {
    font-size: 28px;
    color: white;
}
span {
    color: #92816f;
    
}
.advertising {
    margin-top: 46px;
}
.advertisingComment {
    color: #615855;
}
.advertisingButton {
    text-align: center;
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    background-color: #998675;
    color: white;
    border-radius: 3px;
    border: none;
    margin-top: 46px;
}
.blockImgs {
    height: 1165px;
    /* height:  auto; */
}
.mainTitleImg {
    margin-top: 65px;
    text-align: center;
    
}
.blockWidth {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    
    
}
.links {
    margin-top: 40px;
    margin-bottom: 40px;
}
.links ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;    
}
ol .dataFilter  {
    border: 1px solid #ebebeb;
    padding: 5px 15px;
    color: #ababab;
    text-decoration: none; 
    border-radius: 3px;     
}
ol .dataFilter:hover  {
    background-color: #998675;
    color: white;
    text-decoration: none;
}
.blockImages {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em; */
    width: 85%;
    margin: 0 auto;
}


/*ховер на блок с картинкой и текстом*/


.containerImg__imagesHover {
    height: 238px;
    width: 370px;
    background-color: #191919;
    position: absolute;
    visibility: hidden;  /*Элемент становится невидимым или правильней сказать, полностью прозрачным, поскольку он продолжает участвовать в форматировании страницы.*/
}

.blockImg:hover .containerImg__imagesHover {
    height: 238px;
    width: 370px;
    opacity: 0.5; /*прозрачность картинки*/
    visibility: visible; /*дополнительный див лег сверху картинки*/
}

.blockImg:hover .containerImg__arrow {
    width: 370px;
    height: 100px;
    background: #362f2d;
}



/*ховер на блок с картинкой и текстом*/

.containerImg__images1 {
    background-image: url("./img/img1.png");
    background-size: cover;
    height: 238px;
    width: 370px;
}

.containerImg__images2 {
    background-image: url("./img/img2.png");
    background-size: cover;
    height: 238px;
    width: 370px;
}
.containerImg__images3 {
    background-image: url("./img/img3.png");
    background-size: cover;
    height: 238px;
    width: 370px;
}
.containerImg__images4 {
    background-image: url("./img/img4.png");
    background-size: cover;
    height: 238px;
    width: 370px;
}
.containerImg__images5 {
    background-image: url("./img/img5.png");
    background-size: cover;
    height: 238px;
    width: 370px;
}
.containerImg__images6 {
    background-image: url("./img/img6.png");
    background-size: cover;
    height: 238px;
    width: 370px;
}
.containerImg__arrow {
    width: 370px;
    height: 100px;
    background: #fbfaf8;
}

/*стрелка !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.containerImg__arrow-box {
	position: relative;
	background: #fbfaf8;
}


.containerImg__arrow-box:after, .containerImg__arrow-box:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.containerImg__arrow-box:after {
	border-bottom-color: #fbfaf8;
	border-width: 10px;
	margin-left: -10px;
}

/*стрелка !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.containerImg__arrow-title {
    color: #c7b299;
    font-size: 20px;
    padding-top: 20px;
    margin-left: 20px;
}
.containerImg__arrow-text {
    color: #d1d1d1;
    font-size: 14px;
    margin-left: 20px;
}
.blButton {
    text-align: center;
    margin-top: 100px;
}
.blockImagesButton {
    text-align: center;
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    background-color: #998675;
    color: white;
    border-radius: 3px;
    border: none;   
}
.blockVideo {
    background-image: url("./img/video.png");
    background-size: cover;
    height: 706px;
    width: 100%;
}
.blockMobile {
    height: 698px;
    display: flex;
    justify-content: center;
    padding-top: 82px;
}

.blockMobileTitle {
    font-size: 30px;
    font-weight: bold;
    color: #555555;
    padding-top: 110px;
}
.blockMobileText {
    font-size: 16px;
    color: #8c8c8c;
    margin-top: 42px;
}
.list {
    font-size: 16px;
    color: #8c8c8c;
    margin-top: 42px;
}
.blockStatistics {
    height: 300px;
    background-color: #2f231e;
}
.statisticalData {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 5%;
}
.statisticalDataImg {
   text-align: center;
}
.statistic {
    color:  white;
    font-size: 48px;
    text-align: center;
}
.statisticTitle {
    font-size: 14px;
    color:  #c7b299;
    text-transform: uppercase;
    text-align: center;
}
.statisticBorder {
    border: 1px solid white;
    width: 30px;
    margin: 32px auto;
   
}
.blockPosts {
    height: 670px;
}
.blockPostsImg {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em; */
    width: 85%;
    margin: 0 auto;
}
.properties {
    margin-top: 44px;
}



.containerPostsImg__images11 {
    height: 238px;
    width: 370px;
    background-color: #191919;
    position: absolute;
    visibility: hidden;  /*Элемент становится невидимым или правильней сказать, полностью прозрачным, поскольку он продолжает участвовать в форматировании страницы.*/
}

.properties:hover .containerPostsImg__images11 {
    height: 238px;
    width: 370px;
    opacity: 0.5; /*прозрачность картинки*/
    visibility: visible; /*дополнительный див лег сверху картинки*/
}

.properties:hover .propertiesText {
    width: 370px;
    height: 172px;
    background-color: #2f231e;
}



.containerPostsImg__images1 {
    background-image: url("./img/img\ posts1.png");
    background-size: cover;
    height: 238px;
    width: 370px;
}

.containerPostsImg__images2 {
    background-image: url("./img/img\ posts2.png");
    background-size: cover;
    height: 238px;
    width: 370px;
}
.containerPostsImg__images3 {
    background-image: url("./img/img\ posts3.png");
    background-size: cover;
    height: 238px;
    width: 370px;
}




.propertiesText {
    width: 370px;
    height: 172px;
    background: rgb(184, 180, 180);
}

.containerPosts__title {
    font-size: 20px;
    color: #555555;
    padding-top: 20px;
    margin-left: 30px;
}
.containerPosts__text {
    font-size: 14px;
    color: #8c8c8c;
    margin-top: 10px;
    margin-left: 30px;
}
.linkText {
    font-size: 14px;
    
    margin-top: 20px;
    margin-left: 30px;
    
}
.linkText a {
    text-decoration: none;
    color: #a48d72;
}

.blockPartnersBackground {
    background-image: url(./img/imgbackground2.png);
    height: 500px;
    /* width: auto; */
    background-repeat: no-repeat;
    
}
.blockPartners {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
    padding-top: 200px;
}
.blockInfo {
    height: 507px;
    background-color: #191919;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 80px;
}
.blockInfoWidth {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}


.blockInfo2Common:hover .blockInfo2__mounth {
    color: #ffffff;
}
.blockInfo2Common:hover .blockInfo__text {
    color: #c7b299;
} 
.blockInfo3Common:hover .blockInfo__text {
    color: #c7b299;
}
.blockInfo3Common:hover .blockInfo2__time {
    color: #ffffff;
}
.blockInfo1:hover .blockInfo1__text {
    color: #c7b299;
}

.blockInfo1__text {
    color: #515151;
    margin-top: 20px;
}
.blockInfo1__link {
    margin-top: 30px;
}
.blockInfo1__link a {
    text-decoration: none;
    color: white;
    
}

.blockInfo__title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.blockInfo2__mounth {
    font-size: 12px;
    color: #2e2e2e;
    
}
.blockInfo__text {
    font-size: 14px;
    color: #515151;
}
.blockInfo2__time {
    font-size: 12px;
    color: #2e2e2e;
}
.blockInfo__border {
    border: 0.5px solid #515151;
    width: 270px;
    margin: 20px auto;
}

.blockInfo__img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    width: 10%;
    
}
.footer {
    height: 110px;
    background-color: black;
}
.footerWidth {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 45px;
}
.footerLeft {
    display: flex;
    font-size: 13px;

}
.footerRight {
    display: flex;
    font-size: 13px;
}
.colorText {
    color: #959595;
}
.borderWertical {
    margin-left: 10px;
    margin-right: 10px;
}
.colorTextWhite {
    color: #c7b299;
}



@media screen and (min-width: 360px) and (max-width: 720px) {
    
    
    .blockImgs {
        height:  auto;
        margin-bottom: 3%;
        
    }
    .blockImagesButton {
        margin-bottom: 20px;
    }
    
    .blockPosts {
        height:  auto;
        margin-bottom: 3%;
    }
    .blockMobile {
        height: 698px;
        display: initial;
        margin-top: 20px;
    }
    .blockMobileTitle {
        font-size: 20px;
        text-align: center;
    }
    .blockMobileText {
        font-size: 16px;
        text-align: center;
    }
    .blockMobileImg {
        margin-top: 20px;
    }

    .blockBrown {
        height: 250px;
    }
    .mainContainer {
        display: initial;
        text-align: center;
    }
    .links ol {
        display: initial;
    }


    .blockStatistics {
        height: 1100px;
        margin-top: 30px;
    }
    .statisticalData {
        display: initial;
    }
    .logoT {
        height:  90px;
        width: 90px;
        margin-top: 30px; 
    }
    .partners {
        
        height: 120px;
        width: 100px;
        margin: 0 auto;
    }

    .blockPartners {
        display: initial;
        
    }
    .blockInfoWidth {
        display: initial;
    }
    .blockInfo {
        height: 1400px;
    }
    
    .footerWidth {
        display: initial;
    }
    .blockInfo1 {
        text-align: center;
    }
    .blockInfo2 {
        text-align: center;
    }
    .blockInfo3 {
        text-align: center;
    }
    .blockInfo4 {
        text-align: center;
    }
    /* .blockInfo__img {
        margin: 0 auto;
    } */
    .myhead {
        display: initial;
    }
    nav ul {
        display: initial;
    }
    nav ul li {
        padding: 4px;
    }
}
@media screen and (min-width: 721px) and (max-width: 940px) {
     
    .blockImgs {
        height:  auto;
        margin-bottom: 3%;  
    }
    .blockImages {
        margin: 0 auto;
    }
    .blockPosts {
        height:  auto;
        margin-bottom: 3%;

    }
    .blockMobile {
        height: 698px;
        display: initial;
        margin-top: 20px;
    }
    .blockMobileTitle {
        font-size: 20px;
        text-align: center;
    }
    .blockMobileText {
        font-size: 16px;
        text-align: center;
    }
    .blockMobileImg {
        margin-top: 20px;
    }
        
    .blockBrown {
        height: 250px;
    }
    .mainContainer {
        display: initial;
        text-align: center;
    }
    .links ol {
        display: initial;
    }
    .blockStatistics {
        height: 1100px;
        margin-top: 30px;
    }
    .statisticalData {
        display: initial;
    }
    .logoT {
        height:  90px;
        width: 90px;
        margin-top: 30px; 
    }
    .partners {
        
        height: 120px;
        width: 100px;
        margin: 0 auto;
    }

    .blockPartners {
        display: initial;
        
    }
    .blockInfoWidth {
        display: initial;
    }
    .blockInfo {
        height: 1400px;
    }
    .footerWidth {
        display: initial;
    }
    .blockInfo1 {
        text-align: center;
    }
    .blockInfo2 {
        text-align: center;
    }
    .blockInfo3 {
        text-align: center;
    }
    .blockInfo4 {
        text-align: center;
    }
    /* .blockInfo__img {
        margin: 0 auto;
    } */
    .myhead {
        display: initial;
    }
    nav ul {
        display: initial;
    }
    nav ul li {
        padding: 4px;
    }
}

